<!-- Create a navigation with 2 items that redirects the user to the breeds and facts routes respectively -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="collapse navbar-collapse justify-content-center">
		<div class="nav navbar-nav">
			<a class="m-2 h4 nav-item nav-link" href="/">Home</a>
			<a class="m-2 h4 nav-item nav-link" href="/breeds">Breeds</a>
			<a class="m-2 h4 nav-item nav-link" href="/facts">Facts</a>
		</div>
	</div>
</nav>
