<!-- Nav Bar header -->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-blue border-bottom box-shadow">
	<h5 class="my-0 mr-auto font-weight-normal mr-auto"><a class="p-2 text-dark text-decoration-none font-weight-700" href="/">Tech Stuff</a></h5>
	<nav class="my-2 my-md-0 mr-md-3">
		<% if (isLoggedIn === true) { %>
		<a class="p-2 text-dark text-decoration-none mr-5 font-weight-600" href="/account"><%= firstname %></a>
		<a class="btn btn-outline-danger" href="/logout">Logout</a>
		<% } else { %>
		<a class="btn btn-primary" href="/login">Login</a>
		<a class="btn btn-outline-secondary" href="/register">Register</a>
		<% } %>
	</nav>
</div>
