<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="collapse navbar-collapse justify-content-center">
		<div class="nav navbar-nav">
			<a class="m-2 h4 nav-item nav-link" href="/">Home</a>
			<% if (isLoggedIn === true) { %>
			<a class="m-2 h4 nav-item nav-link" href="/account"><%= firstname %></a>
			<% } else { %>
			<a class="m-2 h4 nav-item nav-link" href="/login">Login</a>
			<a class="m-2 h4 nav-item nav-link" href="/register">Register</a>
			<% } %>
		</div>
	</div>
</nav>
