<%- include('partials/head') %> <%- include('partials/header') %>

<div class="container mt-4">
	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom box-shadow">
		<h5 class="my-0 mr-auto font-weight-normal mr-auto"></h5>
		<nav class="my-2 my-md-0 mr-md-3">
			<a class="btn btn-primary" href="/add">Add article</a>
		</nav>
	</div>
	<div class="row">
		<div>
		</div>
	</div>
</div>

<%- include('partials/foot') %> <%- include('partials/footer') %>
