.mr-auto {
    margin-right: auto;
}

.ml-5 {
    margin-left:15px !important;
}

.mr-5 {
    margin-right: 15px !important;
}

.vh-75 {
    min-height: 75vh;
}

.bg-blue {
    background-color: #c7ebff !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.mh-420 {
    min-height: 420px;
}

.read-more-btn {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
}